
/* styles.css */
.header-container {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #007bff, #00bcd4);
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .card {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333333;
  }
  
  .card-value {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
  }
  .icon-click{
    font-size: 22px;
    cursor: pointer;
  }
  h1 {
    font-size: 26px;
    font-weight: bold;
    color: #2b2b2b;
    text-align: center;
    border-bottom: 3px solid #42a4eb;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Responsive styles for smaller screens */
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    .header-container {
      padding: 10px;
    }
  }