/* Custom styles for the delete modal */
.ant-modal {
    font-family: Arial, sans-serif;
  }
  
  .ant-modal-header {
    background-color: #007bff;
    color: #fff;
  }
  
  .ant-modal-title {
    color: #fff;
  }
  
  .ant-modal-body {
    padding: 16px;
  }
  
  .ant-modal-footer {
    border-top: 0;
    text-align: right;
  }
  
  .ant-btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  